In [75]:
import numpy as np
import pandas as pd
import os

In [76]:
df_list_scenario = []


for file_name in os.listdir("./result_scenario"):
    file_to_open = "./result_scenario/%s" % file_name
    df_list_scenario.append(pd.read_csv(file_to_open))

In [77]:
df_summary = pd.read_csv("./data/summary.csv")

In [78]:
df_summary

,Parts,Process,Process Time,Time,Unnamed: 4,Unnamed: 5,Unnamed: 6,Parts.1,Process.1,Process Time.1,...,Time.3,Unnamed: 25,Unnamed: 26,Unnamed: 27,Parts.4,Process.4,Process Time.4,Time.4,Unnamed: 32,Unnamed: 33
0,A,1,1,1053.5,1911.5,1911.5,NaN,A,1,1,...,1053.5,1911.5,1911.5,NaN,A,1,1,1053.5,1911.5,1911.5
1,A,2,2,1827.5,NaN,2332.5,NaN,NaN,2,2,...,1827.5,NaN,2332.5,NaN,NaN,2,2,1827.5,NaN,2332.5
2,A,3,3,967.5,NaN,1919.5,NaN,NaN,3,3,...,967.5,NaN,1919.5,NaN,NaN,3,3,967.5,NaN,1919.5
3,A,4,4,1873.5,NaN,1921.5,NaN,NaN,4,4,...,1873.5,NaN,1921.5,NaN,NaN,4,4,1873.5,NaN,1921.5
4,A,5,5,1911.5,NaN,2052.5,NaN,NaN,5,5,...,1911.5,NaN,2052.5,NaN,NaN,5,5,1911.5,NaN,2052.5
5,B,1,2,2046.5,2332.5,NaN,NaN,B,1,2,...,2046.5,2332.5,NaN,NaN,B,1,2,2046.5,2332.5,NaN
6,B,2,3,860.5,NaN,NaN,NaN,NaN,2,3,...,860.5,NaN,NaN,NaN,NaN,2,3,860.5,NaN,NaN
7,B,3,4,2259.5,NaN,NaN,NaN,NaN,3,4,...,2259.5,NaN,NaN,NaN,NaN,3,4,2259.5,NaN,NaN
8,B,4,5,2332.5,NaN,NaN,NaN,NaN,4,5,...,2332.5,NaN,NaN,NaN,NaN,4,5,2332.5,NaN,NaN
9,B,5,1,1831.5,NaN,NaN,NaN,NaN,5,1,...,1831.5,NaN,NaN,NaN,NaN,5,1,1831.5,NaN,NaN
10,C,1,3,891.5,1919.5,NaN,NaN,C,1,3,...,891.5,1919.5,NaN,NaN,C,1,3,891.5,1919.5,NaN
11,C,2,4,1612.5,NaN,NaN,NaN,NaN,2,4,...,1612.5,NaN,NaN,NaN,NaN,2,4,1612.5,NaN,NaN
12,C,3,5,1531.5,NaN,NaN,NaN,NaN,3,5,...,1531.5,NaN,NaN,NaN,NaN,3,5,1531.5,NaN,NaN
13,C,4,1,0.0,NaN,NaN,NaN,NaN,4,1,...,0.0,NaN,NaN,NaN,NaN,4,1,0.0,NaN,NaN
14,C,5,2,1919.5,NaN,NaN,NaN,NaN,5,2,...,1919.5,NaN,NaN,NaN,NaN,5,2,1919.5,NaN,NaN
15,D,1,4,1889.5,1921.5,NaN,NaN,D,1,4,...,1889.5,1921.5,NaN,NaN,D,1,4,1889.5,1921.5,NaN
16,D,2,5,1921.5,NaN,NaN,NaN,NaN,2,5,...,1921.5,NaN,NaN,NaN,NaN,2,5,1921.5,NaN,NaN
17,D,3,1,1776.5,NaN,NaN,NaN,NaN,3,1,...,1776.5,NaN,NaN,NaN,NaN,3,1,1776.5,NaN,NaN
18,D,4,2,0.0,NaN,NaN,NaN,NaN,4,2,...,0.0,NaN,NaN,NaN,NaN,4,2,0.0,NaN,NaN
19,D,5,3,911.5,NaN,NaN,NaN,NaN,5,3,...,911.5,NaN,NaN,NaN,NaN,5,3,911.5,NaN,NaN
20,E,1,5,1309.5,2052.5,NaN,NaN,E,1,5,...,1309.5,2052.5,NaN,NaN,E,1,5,1309.5,2052.5,NaN
21,E,2,1,873.5,NaN,NaN,NaN,NaN,2,1,...,873.5,NaN,NaN,NaN,NaN,2,1,873.5,NaN,NaN
22,E,3,2,1977.5,NaN,NaN,NaN,NaN,3,2,...,1977.5,NaN,NaN,NaN,NaN,3,2,1977.5,NaN,NaN
23,E,4,3,1189.5,NaN,NaN,NaN,NaN,4,3,...,1189.5,NaN,NaN,NaN,NaN,4,3,1189.5,NaN,NaN
24,E,5,4,2052.5,NaN,NaN,NaN,NaN,5,4,...,2052.5,NaN,NaN,NaN,NaN,5,4,2052.5,NaN,NaN

In [79]:
df_summary.columns = range(df_summary.shape[1])

In [80]:
list_df_first_process = []
list_df_second_process = []
list_df_third_process = []
list_df_fourth_process = []
list_df_fifth_process = []

for df in df_list_scenario:
    
    df.columns = range(df.shape[1])
    
    df_first_process = df[range(0,3)]
    df_second_process = df[range(4,7)]
    df_third_process = df[range(8,11)]
    df_fourth_process = df[range(12,15)]
    df_fifth_process = df[range(16,19)]
    
    # reindexing
    df_first_process.columns = range(df_first_process.shape[1])
    df_second_process.columns = range(df_second_process.shape[1])
    df_third_process.columns = range(df_third_process.shape[1])
    df_fourth_process.columns = range(df_fourth_process.shape[1])
    df_fifth_process.columns = range(df_fifth_process.shape[1])
    
    list_df_first_process.append(df_first_process)
    list_df_second_process.append(df_second_process)
    list_df_third_process.append(df_third_process)
    list_df_fourth_process.append(df_fourth_process)
    list_df_fifth_process.append(df_fifth_process)

In [82]:
list_scenario = []

for cnt in range(len(df_list_scenario)):
    
    list_answer = []
    
    for index, row in df_summary.iterrows():
        # First column as the process
        process_id = row[1]

        df_choose = None

        if process_id == 1:
            df_choose = list_df_first_process[cnt]
        elif process_id == 2:
            df_choose = list_df_second_process[cnt]
        elif process_id == 3:
            df_choose = list_df_third_process[cnt]
        elif process_id == 4:
            df_choose = list_df_fourth_process[cnt]
        else:
            df_choose = list_df_fifth_process[cnt]

        filter_time_diff = row[2]

        answer = np.max(df_choose[df_choose[2] == filter_time_diff][0])
        list_answer.append(answer)
    
    list_scenario.append(list_answer)

In [83]:
list_scenario

[[1053.5,
  1924.5,
  1928.5,
  1997.5,
  1953.5,
  873.5,
  1969.5,
  1189.5,
  2098.5,
  1197.5,
  1776.5,
  nan,
  977.5,
  1835.5,
  1840.5,
  nan,
  1870.5,
  919.5,
  1815.5,
  1843.5,
  1831.5,
  2046.5,
  812.5,
  2329.5,
  1847.5],
 [1053.5,
  2558.5,
  1248.5,
  2546.5,
  2152.5,
  873.5,
  2490.5,
  1260.5,
  2539.5,
  1037.5,
  1776.5,
  2556.5,
  1245.5,
  2503.5,
  2279.5,
  nan,
  2653.5,
  1137.5,
  1989.5,
  2174.5,
  1831.5,
  2552.5,
  1126.5,
  2565.5,
  2087.5],
 [1053.5,
  2984.5,
  1291.5,
  3569.5,
  3128.5,
  873.5,
  2982.5,
  1288.5,
  3577.5,
  1448.5,
  1776.5,
  2846.5,
  1280.5,
  2924.5,
  2934.5,
  nan,
  3041.5,
  1238.5,
  2905.5,
  2491.5,
  1831.5,
  2979.5,
  1242.5,
  3604.5,
  1889.5],
 [1053.5,
  2326.5,
  1136.5,
  2337.5,
  1776.5,
  873.5,
  2196.5,
  1495.5,
  2330.5,
  1135.5,
  1776.5,
  1958.5,
  1141.5,
  2331.5,
  1848.5,
  nan,
  2339.5,
  1074.5,
  2349.5,
  1437.5,
  1831.5,
  2305.5,
  1082.5,
  2345.5,
  726.5],
 [1053.5,
  2712.5,
  928.5,
  2632.5,
  2650.5,
  873.5,
  2641.5,
  1215.5,
  2741.5,
  2043.5,
  1776.5,
  2700.5,
  1246.5,
  1779.5,
  2631.5,
  nan,
  2638.5,
  874.5,
  1682.5,
  2580.5,
  1831.5,
  2720.5,
  845.5,
  2736.5,
  2664.5]]

In [84]:
final_result = pd.DataFrame()


for counter in range(len(list_scenario)-1, -1, -1):
    
    number_row = df_summary[0].shape[0]
    
    result = pd.concat([pd.DataFrame(np.repeat(counter+1, number_row), columns=['Scenario']),
                        pd.DataFrame(df_summary[0].as_matrix(), columns=['Parts']),
                        pd.DataFrame(df_summary[1].as_matrix(), columns=['Process']),
                        pd.DataFrame(df_summary[2].as_matrix(), columns=['Process Time']),
                        pd.DataFrame(list_scenario[counter], columns=['Time'])], axis=1)
    
    final_result = pd.concat([result, final_result])

In [85]:
final_result.to_csv("all_result.csv", index=False)

In [86]:
res = pd.read_csv("./all_result.csv")

In [87]:
res

     Scenario Parts  Process  Process Time    Time
0           1     A        1             1  1053.5
1           1     A        2             2  1924.5
2           1     A        3             3  1928.5
3           1     A        4             4  1997.5
4           1     A        5             5  1953.5
5           1     B        1             2   873.5
6           1     B        2             3  1969.5
7           1     B        3             4  1189.5
8           1     B        4             5  2098.5
9           1     B        5             1  1197.5
10          1     C        1             3  1776.5
11          1     C        2             4     NaN
12          1     C        3             5   977.5
13          1     C        4             1  1835.5
14          1     C        5             2  1840.5
15          1     D        1             4     NaN
16          1     D        2             5  1870.5
17          1     D        3             1   919.5
18          1     D        4             2  1815.5
19          1     D        5             3  1843.5
20          1     E        1             5  1831.5
21          1     E        2             1  2046.5
22          1     E        3             2   812.5
23          1     E        4             3  2329.5
24          1     E        5             4  1847.5
25          2     A        1             1  1053.5
26          2     A        2             2  2558.5
27          2     A        3             3  1248.5
28          2     A        4             4  2546.5
29          2     A        5             5  2152.5
..        ...   ...      ...           ...     ...
95          4     E        1             5  1831.5
96          4     E        2             1  2305.5
97          4     E        3             2  1082.5
98          4     E        4             3  2345.5
99          4     E        5             4   726.5
100         5     A        1             1  1053.5
101         5     A        2             2  2712.5
102         5     A        3             3   928.5
103         5     A        4             4  2632.5
104         5     A        5             5  2650.5
105         5     B        1             2   873.5
106         5     B        2             3  2641.5
107         5     B        3             4  1215.5
108         5     B        4             5  2741.5
109         5     B        5             1  2043.5
110         5     C        1             3  1776.5
111         5     C        2             4  2700.5
112         5     C        3             5  1246.5
113         5     C        4             1  1779.5
114         5     C        5             2  2631.5
115         5     D        1             4     NaN
116         5     D        2             5  2638.5
117         5     D        3             1   874.5
118         5     D        4             2  1682.5
119         5     D        5             3  2580.5
120         5     E        1             5  1831.5
121         5     E        2             1  2720.5
122         5     E        3             2   845.5
123         5     E        4             3  2736.5
124         5     E        5             4  2664.5

[125 rows x 5 columns]